/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Asap', sans-serif; 
}

body {
  font: 1em/1.5;
  color: #222d39;
  /* background: #f1f5f6; */
  /* background: #e8eeef; */
  padding-bottom: 32px;

}

header {
	text-align: center;  
	text-transform: uppercase;
}

h1 {
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	/* background: #f1f5f6; */
	border-radius: 8px;
	background: #fff;
	/* border: .5px solid  #222d39; */
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: .5px solid #222d39;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #222d39;
	display: block;
	margin-bottom: .5em;
}

label[for="cc-num"],
label[for="zip"],
label[for="cvv"],
label[for="name"],
label[for="mail"] {
	display: inline-block;
}

input {
	margin-bottom: 1.125em;
	border-radius: 5px;
	background: #e8eeef;
}
select {
	padding: 6px;
	margin-bottom: 1.125em;	
	background-color: #e8eeef;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	/* background: #c1deeb; */
	border: 1px solid #f1f5f6;  
	outline: none;
}

input:focus {
	background: #fff;
	border-color: #1fb6ff;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #1fb6ff;
	border-radius: 5px;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	
}




/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: inline-block;
	color:#fff;
	font-size: 1rem;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f95849;
	border-radius: 5px 5px 5px 0px;
	margin-left: 5px;
	font-size: .75rem;
}

.border {
	border: 1px solid #f95849;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.total {
	color: #1fb6ff;
	font-weight: 500;
}

.line-through { 
	text-decoration: line-through;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}